/* Configuração Geral */
body {
    background-color:bisque;
    color: black;           /* Texto branco para contrastar com o azul */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center;     /* Centraliza verticalmente (opcional) */
  min-height: 100vh;       /* Define altura total da tela */
  margin: 0;
}

.container{
    width: 100%;
  max-width: 1200px;
}

.pontocom{
    justify-content: center;
    align-items: center;
}
